{% extends 'nav.html' %}
{% load static %}
{% block content %}
<div class="book_block">
    {% for book in books %}
        <div class="card book">
            <button class="btn btn-link", style="padding: 0">
                <h4 title="Нажми, чтобы скопировать название в буфер обмена" id="clipboard">{{ book.title }}</h4>
            </button>
            <p class="myptag">Автор: {{book.author}}</p>
            <p class="myptag">Жанр: {{book.genre}}</p>
            <form>
                {% include "books/list_book_btn.html" %}
            </form>
        </div>
    {% endfor %}
    {% include "books/list_nav.html" %}
</div>
<script src="{% static 'js/bookList.js' %}"></script>
{% endblock %}
